<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Brainish Editor</title>
    <link rel="stylesheet" href="libraries/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/editor.css">
</head>
<body>
<div id="header">
    <h1>Brainish Editor</h1>
</div>
<div id="illusions">
    <ul id="illusion-type">
    </ul>
    <div id="illusion-list">
    </div>
</div>
<div id="panel">
    <div id="panel-move">
        <div id="illusion-panel">
            <div class="illusion-col">
                <div class="illusion" id="illusion-1" draggable="true">
                    <div class="input">
                        <div class="value-item">
                            <div class="value-input">File List</div>
                            <div class="value-output" draggable="true">file_list_1</div>
                        </div>
                        <div class="value-item">
                            <div class="value-input">File List</div>
                            <div class="value-output value-no">none</div>
                        </div>
                        <div class="value-item">
                            <div class="value-input">File List</div>
                            <div class="value-output value-no">none</div>
                        </div>
                    </div>
                    <div class="icon"><i class="fa fa-code"></i></div>
                    <div class="name">Check Condition</div>
                    <div class="output">
                        <div class="value-item">
                            <div class="value-output">file_list_1</div>
                        </div>
                    </div>
                </div>
                <div class="illusion" id="illusion-2">
                    <div class="input">
                        <div class="value-item">
                            <div class="value-input">File List</div>
                            <div class="value-output">file_list_1</div>
                        </div>
                    </div>
                    <div class="icon"><i class="fa fa-code"></i></div>
                    <div class="name">Check Condition</div>
                    <div class="output">
                        <div class="value-item">
                            <div class="value-output">file_list_1</div>
                        </div>
                    </div>
                </div>
                <div class="illusion illusion-plus">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <div class="illusion-col">
                <div class="illusion" id="illusion-3">
                    <div class="input">
                        <div class="value-item">
                            <div class="value-input">File List</div>
                            <div class="value-output">file_list_1</div>
                        </div>
                    </div>
                    <div class="icon"><i class="fa fa-code"></i></div>
                    <div class="name">Check Condition</div>
                    <div class="output">
                        <div class="value-item">
                            <div class="value-output">file_list_1</div>
                        </div>
                    </div>
                </div>
                <div class="illusion illusion-plus">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
        <canvas id="panel-background" width="2000" height="2000"></canvas>
    </div>
</div>
<script id="template-illusion-type-item" type="text/html">
    <% if(current) { %>
    <li><a href="#" class="current"><i class="fa fa-<%-icon%>"></i></a></li>
    <% } else { %>
    <li><a href="#"><i class="fa fa-<%-icon%>"></i></a></li>
    <% } %>
</script>
<script id="template-illusion-item" type="text/html">
    <div class="illusion-option" draggable="true">
        <div class="icon"><i class="fa fa-<%-icon%>"></i></div>
        <div class="name"><%-name%></div>
        <div class="description"><%-description%></div>
    </div>
    <hr />
</script>
<script type="application/javascript" src="javascripts/jquery.js"></script>
<script type="application/javascript" src="javascripts/underscore-template.min.js"></script>
<script type="application/javascript" src="javascripts/editor.js"></script>
</body>
</html>